<header
    id="home"
    class="w-screen h-screen flex flex-col items-center 
    justify-center gap-10
    2xl:flex-row
    "
>
    <div class="">
        <img
            src="/public/img1.jpg"
            class="rounded-full w-[250px] h-[250px] shadow-lg shadow-white/20
            lg:w-[300px] lg:h-[300px]
            xl:h-[380px] xl:w-[380px]
            2xl:w-[240px] 2xl:h-[240px]
            "
            alt="Header Img"
        />
    </div>
    <div class="flex flex-col items-center justify-center">
        <a
            class="border text-white/90 border-white/10 rounded-sm
             py-2 px-5 text-xl hover:bg-white/90 hover:text-black/90 duration-300 linear
             lg:w-50 lg:text-center lg:py-4 lg:text-2xl
             xl:py-6 xl:text-3xl xl:w-[50%]
             2xl:self-start 2xl:w-[40%] 2xl:text-xl 2xl:py-3
             "
            href="https://github.com/adolfin07"
            target="_blank"
            aria-label="link to my github"
        >
            <i class="fa-brands fa-github"></i>
            GitHub
        </a>
        <div class="mt-7 text-center">
            <i class="text-white/90 text-6xl font-light lg:text-7xl xl:text-8xl 2xl:text-6xl">
                Adolfo Zepeda</i
            >
        </div>
    </div>
</header>
