<section
    id="techs"
    class="techs relative
  h-screen
 w-screen
 border
 md:flex md:items-center md:justify-center"
>
    <div
        class="techs__container
        flex flex-wrap h-[75%] gap-3 items-center justify-center
        pt-15
        md:w-[80%] md:gap-10
        lg:w-[60%] lg:gap-15
        2xl:w-[50%] 2xl:px-10 2xl:gap-6 2xl:h-[50%]"
    >
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/techs/canva.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="canva icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/techs/git.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="git icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/techs/github-dark.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="github icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/techs/vscode.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="vscode icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/techs/windows.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="windows icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/languajes/astro_dark.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="astro icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/languajes/css.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="css icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/languajes/html5.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="html icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/languajes/javascript.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="js icon"
            />
        </div>
        <div
            class="hover:shadow-lg shadow-white/20 ease-linear rounded-sm duration-200 w-[120px] h-[120px] 2xl:w-[130px] 2xl:h-[130px] flex items-center justify-center hiddenUp"
        >
            <img
                src="/public/languajes/sass.svg"
                class="w-11 md:w-20 2xl:w-15"
                alt="astro icon"
            />
        </div>
    </div>

    <footer
        class="absolute bottom-0 w-screen h-[120px] gap-5
        flex flex-col justify-center items-center 2xl:flex-row 2xl:items-center 2xl:justify-between shadow-[0px_-10px_27px_-8px_rgba(255,_255,_255,_0.15)]"
    >
        <div
            class="footer__left w-[90%] md:w-[55%] flex justify-around items-center 2xl:w-[20%]"
        >
            <span class="text-white/80 text-xs xl:text-md"
                >&copy;AdolfoZepeda</span
            >
            <span class="text-white/80 text-xs xl:text-md">2025</span>
            <span class="text-white/80 text-xs xl:text-md"
                >All Rights Reserved</span
            >
        </div>
        <div
            class="footer__right w-[90%] md:w-[55%] flex items-center justify-evenly 2xl:w-[20%]"
        >
            <span class="text-white/80 mx-3 text-xs xl:text-md">Made With</span>
            <div class="flex">
                <img
                    src="/public/languajes/astro_dark.svg"
                    class="w-5 mx-2 xl:w-5"
                    alt="astro icon"
                />
                <img
                    src="/public/techs/tailwindcss.svg"
                    class="w-5 mx-2 xl:w-5"
                    alt="tailwind icon"
                />
                <img
                    src="/public/languajes/javascript.svg"
                    class="w-5 mx-2 xl:w-5"
                    alt="js icon"
                />
            </div>
        </div>
    </footer>
</section>
