<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="FrontEnd Web Portfolio" /></head
	>
	<title>AdolfoZv</title>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
	<script src="/src/js/script.js" defer></script>

	<body>
		<slot />
	</body>
</html>

<style>
	html {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	body {
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}
</style>
